#header h1{
    font-size: 2.5em;
    color: white;
    text-align: center;
    background-color: black;
}

body {   
    width: 100%;   
    height: 100%;   
    font-family: "Helvetica Neue", Helvetica, sans-serif;   
    color: #444;   
    background: #f0f0f0;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation li{
    display: inline;
}

#navigation li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}

#navigation a:hover {
    background-color: #760000;
    color: #000021;
    font-weight: bold;
}

#navigation .active {
    background-color: #4CAF50;
}

#Nama table tr td img{
    width: 200px;
    height: 200px;
}
#footer h4{
  color: white;
  text-align: center;
  background-color: black;
}

p{
    font-size: 1.5em;
    text-align: center;
}
#Nama{
    border: #686868 5px solid;
    padding: 10px;
    border-radius: 15px;
    border-radius: 15px;
    font-family: cursive;
}

#footer a{
    text-decoration: none;
    color: white;
}

#content p{
    font-family: impact;
    font-size: 30px;
    text-align: center;
}

#content table tr td img{
  width: 300px;
  height: 250px;
  position: center;
  margin-left: 190px;
}

#content table{
  width: 100%;
  height: 200px;
}

#content table h3{
  text-align: center;
}

#content1 table tr td img{
    width: 350px;
    height: 200px;
}

#content a{
    text-decoration: none;
    color: black;
}

#login {
  border: 1px solid grey;
  margin-bottom: 120px;
  width: 640px;
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  text-align: center;
}

#login .remember{
  margin-right: 70px;
}