#header h1{
	font-size: 2.5em;
	color: white;
	text-align: center;
	background-color: black;
}

body {   
	width: 100%;   
	height: 100%;   
	font-family: "Helvetica Neue", Helvetica, sans-serif;   
	color: #444;   
	background: #f0f0f0;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation li{
	display: inline;
}

#navigation li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}

#navigation a:hover {
    background-color: #760000;
    color: #000021;
    font-weight: bold;
}

#navigation .active {
    background-color: #4CAF50;
}

#footer h4{
  color: white;
  text-align: center;
  background-color: black;
}

#register {
  width: 640px;
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  border: 1px solid black;
  text-align: center;
}
#Nama{
  margin-right: 22px;
}

#Nim{
  margin-right: 10px;
}

#Email{
  margin-right: 22px;
}

#password{
  margin-right: 52px; 
}

#repassword{
  margin-left: 18px;
}

#gender{
  margin-right: 90px;
}

#footer a{
    text-decoration: none;
    color: white;
}